:root {
    --banner_bgc: grey;
    --text_color_white: white;
    --btn_bgc: #F8A76A;
    --banner_bottom_bgc:#EEEBE6;
}

.clor_btn{
    background-color: var(--btn_bgc);
}
a{
    text-decoration: none;
    padding: .6rem 1.5rem;
    border-radius: 14px;
}
.d_flex{
    list-style: none;
    display: flex;
}
.banner {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 56rem;

}

.banner_carosuel {
    width: 100%;
    aspect-ratio: 1/.50;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.banner figure {
    position: relative;
    width: 100%;
    aspect-ratio: 1/.50;
}

.banner figure::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--banner_bgc);
    opacity: .5;
}

.banner figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.banner figure figcaption {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: var(--text_color_white);
    padding-bottom: 2rem;
}

.figcaption_inner h2 {
    font-size: clamp(1rem, 4vw, 3rem);
    
}

.figcaption_inner_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.figcaption_inner_left ul {
    display: flex;
    list-style: none;
}

.figcaption_inner_left ul li {
    border: 1px solid;
    border-radius: 14px;
    padding: .6rem .3rem;
    margin: .5rem;
}

.figcaption_inner_left ul a {
    text-decoration: none;
    padding: .6rem 1.5rem;
    border-radius: 14px;

    color: var(--text_color_white);
 
}

/* banner_bottom */
.banner_bottom{
    width: 100%;
    background-color: var(--banner_bottom_bgc);
 

   /* margin-top: 60rem; */
}
.banner_bottom_inner{
    width: 100%;
    background-color: var(--banner_bottom_bgc);
    padding-top: 2rem;
    margin-top:0;
}
.trusted{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
}

/* .banner_bottom_card */
.banner_bottom_card{
    width: 100%;
    padding-top: 3rem;
}
.banner_bottom_card .card{
    background-color: var(--banner_bottom_bgc);

}
.banner_bottom_card .card figure{
    width: 100%;
    aspect-ratio: 1/.10;
}
.banner_bottom_card .card figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* .prodect_card_wrapper */
.prodect_card_wrapper{
width: 100%;
}
.prodect_card_wrapper .headr{
    text-align: center;
    width: 100%;
    
}
.headr h2{
    font-size: 5rem;
}
.headr p{
    font-size: 2rem;
}
.headr a{
    margin-re: 1rem;
}